<div class="pokemon-card" *ngIf="pokemon">
  <mat-card class="pokemon-card__image">
    <img [src]="getPokemonImage(pokemon)" alt="Pokemon Image" />
    <mat-card-content>
      <div class="pokemon-card__number">Nº {{ getPokemonNumber(pokemon) }}</div>
      <div class="pokemon-card__types">
        <div
          class="pokemon-card__type"
          *ngFor="let type of pokemon.types"
          [class]="'pokemon-card__type--' + type.toLowerCase()"
        >
          {{ type }}
        </div>
      </div>
      <mat-card-title class="pokemon-card__name">{{
        pokemon.name
      }}</mat-card-title>
    </mat-card-content>
    <mat-card-actions style="justify-content: center">
      <button mat-button color="warn">
        <mat-icon>swap_vertical_circle</mat-icon>
        Add to Pokeball
      </button>
    </mat-card-actions>
  </mat-card>
</div>
